@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
body {
  margin: 0;
  background-color: aqua;
  font-family: "Josefin Sans", sans-serif;
}

#signup {
  box-sizing: border-box;
  border: 3px solid black;
  width: 80%;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: bisque;
  border-radius: 20px;
}

#signup label {
  border: 2px solid black;
  border-radius: 20px;
  font-weight: 900;
  background-color: white;
  color: black;
  padding: 8px 11px;
}

#signup input {
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  margin: 2px 8px;
  padding: 14px 28px;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
}

#signup input:focus::placeholder {
  color: transparent;
}
#signup input:focus {
  background-color: rgb(255, 197, 197);
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 4px black;
}
#signup button {
  border: 2px solid black;
  border-radius: 20px;
  padding: 11px 20px;
  font-weight: 900;
  font-family: "Josefin Sans", sans-serif;
}

#signup button:hover {
  background-color: grey;
  color: white;
  box-shadow: 2px 2px 4px black;
  cursor: pointer;
}

#message-container {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 10px 200px;
  margin-top: 51px;
  padding: 10px 12px;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  height: max-content;
  background-color: bisque;
  border-radius: 20px;
}
#send-box {
  display: block;
  margin: 10px;
  text-align: center;
  justify-content: center;
}
#send-box input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  width: 52%;
  padding: 15px 32px;
  display: inline-block;
  border-radius: 25px;
}
#send-box input:focus::placeholder {
  color: transparent;
}

#send-box input:focus {
  background-color: rgb(255, 197, 197);
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 4px black;
}
#send-box button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
    font-size: 13px;
  width: 23%;
  padding: 15px 12px;
  border-radius: 25px;
  display: inline;
}
#send-box button:hover {
  background-color: grey;
  color: white;
  box-shadow: 2px 2px 4px black;
  cursor: pointer;

}

#message-box {
  display: none;
  border: 3px solid black;
  padding: 12px 12px;
  background-color: white;
}
.incomingMessage {
  border: 2px solid black;
  border-radius: 25px;
  margin: 6px 2px;
  padding: 15px 4px;
  background-color: aquamarine;
  position: relative;
}

/* error-container */
#error-container {
  box-sizing: border-box;
  border: 3px solid black;
  margin: 0px 200px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  display: none;
}

#inValidUserName {
  font-weight: 600;
  color: white;
  text-align: center;
}
#userExists {
  font-weight: 600;
  color: white;
  text-align: center;
}

.userId {
  font-weight: bold;
  border: 3px solid;
  border-radius: 25px 0px 0px 25px;
  padding: 10px 8px;
  background-color: rgb(255, 255, 255);
}
.message {
  font-weight: bold;
  position: absolute;
  right: 12px;
}

@media only screen and (max-width: 700px){
  #signup {
    min-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    text-align: center;
  }
  #signup label {
    width: max-content;
    font-size: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
  }
  #signup input {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
  }

  #error-container {
    width: 60%;
    height:max-content ;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size :12px;
    display: none;
  }
  #message-container {
    min-width: 200px;
    margin-left: auto;
    margin-right: auto ;
  }
  #send-box {
    min-width: 200px;
    height: 100px;
    padding: 0;
    margin: 0;
  }
  #send-box input {
    min-width: 47px;
   width: 40%;
   display: inline-block;

  }
  #send-box button {
    width: max-content;
    display: inline-block;
    font-size: 12px;
  }
  #message-box {
    
  }
  .incomingMessage {
    margin: 6px 2px;
    padding: 5px 4px;
  }
  .userId {
    font-weight: bold;
    border: 3px solid;
    padding: 4px 8px;
    background-color: rgb(255, 255, 255);
  }
}